.header {
  width: 100%;
  position: fixed;  
  z-index: 10; 
  background-color: #fff;
}

.dark .header {
  background-color: #333;
}

.light .header {
  box-shadow: 0 3px 20px #eee;
}

.dark .header {
  box-shadow: 0 3px 20px #aaa;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url('../../assets/icons/icon-food-delivery.png');
  background-size: contain; 
  background-repeat: no-repeat;
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;  
}

.light .logo-wrapper {
  text-shadow: 1px 1px gray;
}

.dark .logo-wrapper {
  text-shadow: 1px 1px lightgray;
}

.logo-wrapper .logo {
  margin-right: 20px;
  margin: 19px 20px 19px 0;
}

.header__title {
  font-size: 5rem;  
  font-family: var(--font-primary);  
  text-transform: capitalize;
  font-style: italic;  
  margin: 2rem 0;
  color: var(--color-primary);
  transition: all 0.3s ease-in;
}

.header__title:hover {  
  color: var(--color-secondary);
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation__item {
  margin-right: 28px;
  font-size: 2rem;
  font-weight: 500;
  min-width: 60px;
  transition: all 0.3s ease-in;
}

.navigation__link {
  position: relative;
  color: var(--color-primary);
}

.navigation__link.active {   
  color: var(--color-secondary);
}

.navigation__link:hover {
  color: var(--color-secondary);    
}

.navigation__link::after {
  content: "";
  position: absolute;
  width: 100%; 
  height: 2px;
  border-radius: 3px;    
  background-color: var(--color-secondary);
  left: 0;
  bottom: -2px;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

.navigation__link:hover::after {
  transform-origin: left;
  transform: scale(1);
}

.navigation__item:active {
  transform: translateY(1px);
}

.cart {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url('../../assets/icons/shopping-cart.png');
  background-size: contain; 
  background-repeat: no-repeat;  
}

.navigation__item.cart:hover {
 text-decoration: none;
  transform: scale(1.1);
}

.cart-items {
  position: absolute;
  bottom: 30px;
  right: 15px;
  width: 20px;
  height: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: red;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid red;
  margin: 0 auto;  
}

@media screen and (max-width: 991px) {
  .header__title {
    display: none;    
  }  
}

@media screen and (max-width: 575px) {
  .header__wrapper {
    flex-direction: column;
    padding-bottom: 20px;
  }
} 